@font-face {
  font-family: "Samsara";
  src: url("../fonts/Samsara-Regular.woff");
}

@font-face {
  font-family: "marker";
  src: url("../fonts/19849.woff");
}

@font-face {
  font-family: "Prata";
  src: url("../fonts/Prata-Regular.woff");
}
