@mixin circleGrey {
    display: block;
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background: rgba(218, 165, 32,0.6);
    border-radius: 100%;
    left: -5px;
    top: 2px
}

@mixin left {
    left: 50%;
    transform: translateX(-50%);
}

@mixin center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin imgBlock {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}